
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/operational/csp/constraints/factories/sokobanimportexport/UserDefinedRuntimeTGGAttrConstraintFactory.java
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/run/sokobanimportexport/_SchemaBasedAutoRegistration.java
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/run/sokobanimportexport/FWD_OPT_App.java
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/run/sokobanimportexport/CO_App.java
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/run/sokobanimportexport/CC_App.java
sokoban/SokobanImportExport/src/org/emoflon/ibex/tgg/run/sokobanimportexport/BWD_OPT_App.java
sokoban/TestSuiteSokobanGUI/boards/gen_board.sok
sokoban/TestSuiteSokobanGUI/boards/gen_board.sok
.DS_Store
SocialNetworkSynchronisation/Version 1/FacebookLanguage/model/FacebookLanguage.ecore
SocialNetworkSynchronisation/Version 1/InstagramLanguage/model/InstagramLanguage.ecore

SocialNetworkSynchronisation/Version 1/FacebookLanguage
SocialNetworkSynchronisation/Version 1/InstagramLanguage
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/.metadata
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/Bridge/bin
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/Bridge/src
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/FacebookLanguage/bin
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/FacebookLanguage/gen
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/FacebookLanguage/injection
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/FacebookLanguage/instances
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/FacebookLanguage/lib
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/FacebookLanguage/src


SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/InstagramLanguage/bin
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/InstagramLanguage/gen
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/InstagramLanguage/injection
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/InstagramLanguage/instances
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/InstagramLanguage/lib
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat1/InstagramLanguage/src

SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/FacebookToInstagramIntegration/.metadata
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/FacebookToInstagramIntegration/bin
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/FacebookToInstagramIntegration/instances
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat1/FacebookToInstagramIntegration/src

SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/.metadata
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/FacebookLanguage/bin
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/FacebookLanguage/gen
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/FacebookLanguage/injection
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/FacebookLanguage/instances
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/FacebookLanguage/lib
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/FacebookLanguage/src


SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/InstagramLanguage/bin
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/InstagramLanguage/gen
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/InstagramLanguage/injection
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/InstagramLanguage/instances
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/InstagramLanguage/lib
SocialNetworkSynchronisation\Version 1/FacebookToInstagramCheat2/InstagramLanguage/src

SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/FacebookToInstagramIntegration/bin
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/FacebookToInstagramIntegration/instances
SocialNetworkSynchronisation/Version 1/FacebookToInstagramCheat2/FacebookToInstagramIntegration/src
.DS_Store
.DS_Store
socialNetworkSynchronisation/version1/FacebookToInstagram/src/org/emoflon/ibex/tgg/run/facebooktoinstagram/_SchemaBasedAutoRegistration.java
socialNetworkSynchronisation/version1/FacebookToInstagram/src/org/emoflon/ibex/tgg/csp/lib/AttrCondDefLibrary.tgg
socialNetworkSynchronisation/version1/Cheat2FacebookToInstagram/src/org/emoflon/ibex/tgg/csp/lib/AttrCondDefLibrary.tgg
socialNetworkSynchronisation/version1/TestSuite/instances/protocol.xmi
socialNetworkSynchronisation/version1/TestSuite/instances/corr.xmi
*.class
AdaptiveUserApp/UserToUI/instances/corr.xmi
AdaptiveUserApp/UserToUI/instances/protocol.xmi
AdaptiveUserApp/UserToUI/instances/src.xmi
AdaptiveUserApp/UserToUI/instances/trg.xmi
AdaptiveUserApp/UserToUI/model/UserToUI.ecore
AdaptiveUserApp/UserToUI/model/UserToUI.editor.xmi
AdaptiveUserApp/UserToUI/model/UserToUI.tgg.xmi
AdaptiveUserApp/UserToUI/model/UserToUI_flattened.editor.xmi
AdaptiveUserApp/UserToUI/model/UserToUI_flattened.tgg.xmi
AdaptiveUserApp/UserToUI/src/org/emoflon/ibex/tgg/run/usertoui/debug/INITIAL_BWD_Debug_App.java
AdaptiveUserApp/UserToUI/src/org/emoflon/ibex/tgg/run/usertoui/debug/INITIAL_FWD_Debug_App.java
AdaptiveUserApp/UserToUI/src/org/emoflon/ibex/tgg/run/usertoui/debug/MODELGEN_Debug_App.java
socialNetworkSynchronisation/version2/Cheat1FacebookToInstagram/src/org/emoflon/ibex/tgg/run/cheat1facebooktoinstagram/debug/INITIAL_BWD_Debug_App.java
socialNetworkSynchronisation/version2/Cheat1FacebookToInstagram/src/org/emoflon/ibex/tgg/run/cheat1facebooktoinstagram/debug/INITIAL_FWD_Debug_App.java
socialNetworkSynchronisation/version2/Cheat1FacebookToInstagram/src/org/emoflon/ibex/tgg/run/cheat1facebooktoinstagram/debug/MODELGEN_Debug_App.java
socialNetworkSynchronisation/version2/FacebookToInstagram/src/org/emoflon/ibex/tgg/run/facebooktoinstagram/debug/INITIAL_BWD_Debug_App.java
socialNetworkSynchronisation/version2/FacebookToInstagram/src/org/emoflon/ibex/tgg/run/facebooktoinstagram/debug/INITIAL_FWD_Debug_App.java
socialNetworkSynchronisation/version2/FacebookToInstagram/src/org/emoflon/ibex/tgg/run/facebooktoinstagram/debug/MODELGEN_Debug_App.java
