<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="InstagramLanguage.InstagramLanguagePackage" genModel="model/InstagramLanguage.genmodel" uri="platform:/resource/InstagramLanguage/model/InstagramLanguage.ecore"/>
  </extension>
</plugin>
