<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="UIAdaptation.UIAdaptationPackage" genModel="model/UIAdaptation.genmodel" uri="platform:/resource/UIAdaptation/model/UIAdaptation.ecore"/>
  </extension>
</plugin>
